<p>login works!</p>
<p>{{message}}</p>
<a routerLink="/">Link to home page</a>

<br>
<br>

<form [formGroup]="loginForm">
  <label>
    Username Name:
    <input type="text"
           formControlName="username">
  </label>

  <label>
    Password:
    <input type="text"
           formControlName="password"
           type="password">
  </label>

  <div *ngIf="loginForm.invalid"
       style="color: red;">Form is not valid</div>


</form>

<br>
<br>

<button class="btn-primary btn"   (click)="doLogin()">Login</button>
